{% extends 'students/base.html' %}

{% load static %}

{% block body %}
	<h1 class="text-center mt-3 mb-3">Transform Your School's Efficiency with our All-in-One Management Platform</h1>
	<p class="fs-3 text-center">
		A powerful tool that fosters collaboration among administrators, teachers, and parents, ultimately providing a seamless educational experience for all stakeholders.
	</p>
	
	<div class="container">
		<div class="row">
		  <div class="col-md-6">
			<div class="card-header">Management</div>
				  <p class="card-text">
					A comprehensive school management system that streamlines administrative tasks, facilitates communication between staff, students, and parents, and provides real-time access to student records and academic progress.
				  </p>
		  </div>
		  <div class="col-6">
			<img src="{% static 'images/image1.jpeg'%}" class="img-fluid" alt="Responsive image">
		  </div>
		  <div class="w-100"></div>
		  <div class="col">
			<img src="{% static 'images/image2.jpeg' %}" class="img-fluid" alt="Responsive image">
		  </div>
		  <div class="col mt-3 mb-3">
			<div class="card-header">Management</div>
				  <p class="card-text">
					Finance and Fee Management: Simplify fee collection and financial transactions, ensuring transparency and accuracy.
				  </p>
		  </div>
		</div>
	</div>


	<div class="container">
		<!-- First Row -->
		<div class="row mt-3 mb-3">
		  <div class="col-md-6 order-md-1">
			<img src="{% static 'images/image1.jpeg'%}" class="img-fluid" alt="Image 1">
		  </div>
		  <div class="col-md-6 order-md-2">
			<p>Student Enrollment and Registration: Effortlessly manage student admissions and registrations, saving time and reducing paperwork.</p>
		  </div>
		</div>
	  
		<!-- Second Row -->
		<div class="row">
		  <div class="col-md-6 order-md-2">
			<img src="{%static 'images/image2.jpeg'%}" class="img-fluid" alt="Image 2">
		  </div>
		  <div class="col-md-6 order-md-1">
			<p>Attendance Tracking: Keep track of student attendance in real-time, enabling timely interventions and improved accountability.</p>
		  </div>
		</div>
	  </div>
	  
	
	
	
	

	<a class="d-flex justify-content-center " href="#">
		<button type="button" class="btn btn-outline-info btn-lg mt-5 mb-4">About Us</button>
	</a>

	<p>
		At <strong>Edusync</strong>, we believe in revolutionizing the way educational institutions manage their operations. Our team of passionate professionals is committed to creating a user-friendly and efficient platform that empowers schools to excel in their academic endeavors.
	</p>

	<div class="row g-0 text-center">
		<div class="col-sm-6 col-md-4">
			<div class="card" style="width: 18rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			  </div>
		</div>
		<div class="col-6 col-md-4">
			<div class="card" style="width: 18rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			  </div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="card" style="width: 18rem;">
				<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  <a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			  </div>
		</div>
	  </div>

	  <form class="mt-4">
			<!-- Name input -->
			<div class="form-outline mb-4">
			  <input type="text" id="form4Example1" class="form-control" />
			  <label class="form-label" for="form4Example1">Name</label>
			</div>
		  
			<!-- Email input -->
			<div class="form-outline mb-4">
			  <input type="email" id="form4Example2" class="form-control" />
			  <label class="form-label" for="form4Example2">Email address</label>
			</div>
		  
			<!-- Message input -->
			<div class="form-outline mb-4">
			  <textarea class="form-control" id="form4Example3" rows="4"></textarea>
			  <label class="form-label" for="form4Example3">Message</label>
			</div>
		  
			<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
	  </form>

{% endblock %}

