{% extends 'students/base.html' %}

{% block body %}
	<h1 class="">Transform Your School's Efficiency with our All-in-One Management Platform</h1>
	<div class="d-flex flex-row">
		<div class="p-2">
			<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
				<div class="card-header">Header</div>
				<div class="card-body">
				  <h4 class="card-title">Primary card title</h4>
				  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				</div>
			</div>
		</div>

		<!--images-->
		<div class="card" style="width: 18rem;">
			<img src="..." class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
			</div>

	</div>

{% endblock %}

